extends ../layouts/default
block js 
	script(src='/js/effects/stickynav.js')

block content
	#fullpage.fullpage-background
		.container.research-container
			.marker-container
				span.marker EXPLORE >
				.inner-research
					.research-description
						h2
							.research-pillar ABOUT
						.info-pillar
							p.info-style This is the century of the brain. The next great change in the human history will occur when we gain control over our brains. We will understand why we behave the way we do, why we get sick, and what we can do to help. 

							p.info-style The 
								span.title-brand UCSB BRAIN INITIATIVE 
								span is the epicenter of our campus’ effort to change our future. UCSB has a long history of inventing technologies that have transformed our society. Now, our cross-disciplinary research teams are attacking the most fundamental problems in neuroscience and neuroengineering. 

			.federal-container
				p TO LEARN MORE ABOUT THE FEDERAL BRAIN INITIATIVE 
					a(href='http://www.kavlifoundation.org/brain-initiative', target="_blank") 'CLICK HERE'
			.container-team
				.col-md-3
					.our-team
						p OUR TEAM
				.col-md-9
					.our-team-description
						p.info-style Our team spans engineering, neuroscience, physics, computer science, biology, psychology, history, literature, communications & art. The 
							span.title-brand UCSB Brain Initiative 
							span steering committee is composed of
				.image-container
					.image-circle
						a(href="http://brainucsb.herokuapp.com/people/dr-ken-kosik")
							img(src = "/images/kosik.png" class="team")
						.portrait-description
							p Director and Co-Chair
							p Ken Kosik
					.image-circle
						a(href="http://brainucsb.herokuapp.com/people/dr-bridget-queenan")
							img(src = "/images/queenan.png" class="team")
						.portrait-description
							p Associate Director
							p Bridget Queenan
				.image-container.row-two
					.image-circle
						a(href="http://brainucsb.herokuapp.com/people/dr-kim-turner")
							img(src = "/images/kim.png" class="team")
						.portrait-description
							p Co-chair
							p Kim Turner
					.image-circle
						a(href="http://brainucsb.herokuapp.com/people/dr-mike-gazzaniga")
							img(src = "/images/mike.png" class="team")
						.portrait-description
							p Mike Gazzaniga
					.image-circle
						a(href="http://brainucsb.herokuapp.com/people/dr-scott-grafton")
							img(src = "/images/scott.png" class="team")
						.portrait-description
							p Scott Grafton
				.image-container
					.image-circle
						a(href="http://brainucsb.herokuapp.com/people/dr-jean-carlson")
							img(src = "/images/jean.png" class="team")
						.portrait-description
							p Jean Carlson
					.image-circle
						a(href="http://brainucsb.herokuapp.com/people/dr-craig-montell")
							img(src = "/images/craig.png" class="team")
						.portrait-description
							p Craig Montell
				.image-container
					.image-circle
						a(href="http://brainucsb.herokuapp.com/people/dr-subhash-suri")
							img(src = "/images/subhash.png" class="team")
						.portrait-description
							p Subhash Suri
