extends ../layouts/default

block content
	#fullpage
		.container.landing-container
			.description
				h2
					ul.research
						li.pillar LET THERE BE 
							.motto-color LIGHT
				hr
				p.info-text We are the center of UCSB's neuro-revolution. We're not here to just study the brain.
				p.info-text <strong>We're here to solve it.
				h2 
					a(href='/about')= 'Learn more.'
			img(src = "/images/brain-transparent.gif" class = "front-page-brain")

			//- Here's an example of using a bootstrap class (xs-hidden) to hide the image on extra small screens:
			//-img(src = "/images/briucsb.png" class = "front-page-brain xs-hidden")

			//- I think in this case it works fine with just media queries. I think we'll end up preferring media queries over bootstrap classes.