extends ../layouts/default

block content
	.hero
		.hero-content
			p(class="text-center") 
				strong The Brain Initiative will help accelerate the development and application of new technologies
					| that will enable researchers to produce dynamic pictures of the brain that show how
					| individual brain cells and complex neural circuits interact at the speed of thought.
	.main-content
