#header {
	margin-top: 0px;
}

.navbar-default {
	margin-bottom: 0px;
}

.hero {
	background-image: url(../images/stockphoto.jpg);
	padding-top: 150px;
	padding-bottom: 150px;
	padding-right: 100px;
	padding-left: 100px;
}

.hero-content {
	color:white;
	font-size:125%;
}

.main-content {
	background: linear-gradient(#ff9a00, #ffeab9);
	padding-bottom: 20px;
}

.content-title {
	font-size: 200%;
	color: white;
	text-decoration: underline;
	text-align: center;
	padding-top: 15px;
}

.content-text-small {
	text-align:center;
	color:white;
	padding-top: 15px;
}

.content-text-small-black {
	text-align:center;
	padding-top: 15px;
}

.content-text-apply {
	text-align:center;
	padding-top: 30px;
	line-height: 1.3ems;
}

.content-text-big {
	font-size: 150%;
	text-align:center;
	color:white;
	padding-top: 15px;
	line-height: 1.5ems;
}

#footer {	
	border-top: 1px solid @gray-lighter;
	padding-top: 15px;
	color: @gray-light;
	text-align: center;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
