#header {
	margin-top: 0px;
}

#body {
	background: grey;
}

#inner-container {
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}

.navbar-default {
	margin-bottom: 0px;
}

.hero {
	background-image: url(../images/stockphoto.jpg);
	padding-top: 150px;
	padding-bottom: 150px;
	padding-right: 100px;
	padding-left: 100px;
}

#ucsb {
	color: gold;
	float: right;
}

#header-title {
	float: left;
	font-weight: bold;
}

.hero-content {
	color:white;
	font-size:125%;
	text-shadow: 2px 2px 4px #000000;
}

.main-content {
	background: linear-gradient(#ff9a00, #ffeab9);
	padding-bottom: 20px;
}

.content-title {
	padding-right: 15px;
	padding-left: 15px;
	font-size: 200%;
	text-align: center;
	padding-top: 15px;
}

.content-text-small {
	padding-right: 15px;
	padding-left: 15px;
	text-align:center;
	padding-top: 15px;
}

.content-text-small-black {
	padding-right: 15px;
	padding-left: 15px;
	text-align:center;
	padding-top: 15px;
}

.content-text-apply {
	text-align:center;
	padding-top: 30px;
	line-height: 1.3ems;
}

.content-text-big {
	padding-right: 15px;
	padding-left: 15px;
	font-size: 150%;
	text-align:center;
	color:grey;
	padding-top: 15px;
	line-height: 1.5ems;
}

#footer {	
	border-top: 1px solid @gray-lighter;
	padding-top: 15px;
	color: @gray-light;
	text-align: center;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
